* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: #1F2937
}

/*FIRST LAYOUT*/

.top {
    max-width: 1000px;
    margin: 0px auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

    /*Header*/

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.header div {
    font-size: 30px;
}

ul li {
    font-size: 20px;
}

    /*top content*/

.top-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: start;

}

.left button {
    align-self: flex-start;
    padding: 6px 40px;
    font-size: 16px;
    border: 1px solid #1F2937;
    border-radius: 6px;;
}

.left h1 {
    font-size: 70px;
}

.left p {
    font-size: 25px;
}

.right img {
    max-width: 100%;
    height: auto;
    border: 4px solid royalblue;
    border-radius: 5px;
    box-sizing: border-box;
}

/*SECOND LAYOUT*/

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 10px 150px 10px;
    align-items: center;

}

.information h2 {
    font-size: 35px;
    color: royalblue;
}

.images {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}


.image img {
    border: 5px solid royalblue;
    border-radius: 8px;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.image p {
    text-align: center;
    font-size: 17px;
    color: royalblue;
    font-weight: 600;
}

/*THIRD LAYOUT*/
.color {
    background-color: lightgray;
}

.quote {
    padding: 120px 0px 120px 0px;
    margin: 0px auto;
    max-width: 1000px;
    background-color: lightgray;
}

.text {
    font-size: 30px;
    margin-bottom: 8px;
    padding: 0px 20px 0px 20px;
}

.author {
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
}

/*FOURTH LAYOUT*/
.sign-container {
    background-color: white;
    padding: 100px 0px 100px 0px;
}



.sign {
    max-width: 800px;
    background-color: royalblue;
    margin: 0px auto;
    padding: 40px 60px 40px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.sign div {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
}

.sign div h2 {
    font-size: 40px;
}

.sign div p {
    font-size: 20px;
}

.sign button {
    flex-shrink: 0;
    padding: 6px 30px;
    height: 40px;
    align-self: center;
    font-size: 20px;
    border: 1px solid royalblue;
    border-radius: 6px;
}

/*FIFTH LAYOUT*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    font-size: 18px;
}


